.Container {
    max-width: 100%;
    margin: auto;
    padding: 1rem 0;
}

.InputPasswordContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 20rem;
}
.InputPasswordContainer input {
    width: 100%;
}

.PasswordMeter {
    max-width: 20rem;
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Meter {
    width: 3.5rem;
    padding: 0.3rem 0;
}